<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[Invitation] You have been invited to join a collection</title>
</head>
<body>
  <p>Dear Ms/Mr,</p>
  <p>
    You have been invited to join a collection. Please click the link below to accept the invitation, and register to access the collection.
  </p>
  <p>
    <b><a href="{{url}}">Register</a></b>
  </p>
  <p>
    If you have any questions, please contact the collection owner.
  </p>
  <p>Thank you,</p>
  <p>Collection owner</p>
</body>
</html>